{% extends "templates/web.html" %}

{% block title %} Payment {% endblock %}

{%- block header -%}{% endblock %}

{% block script %}
<script>
  $(document).ready(function() {
    document.getElementById('ccavenue_payment_form').submit();
  });
</script>
{% endblock %}

{%- block page_content -%}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>{{ _("Processing Payment") }}</h3>
      <p>{{ _("Please do not refresh this page...") }}</p>
      
      {% if header_img %}
      <div class="text-center">
        <img src="{{ header_img }}" alt="CCAvenue" style="max-height: 100px;">
      </div>
      {% endif %}
      
      <div class="ccavenue-loading">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
      </div>
      
      <form id="ccavenue_payment_form" method="post" action="{{ api_url }}" style="display:none;">
        <input type="hidden" name="encRequest" value="{{ payment_data.encRequest }}">
        <input type="hidden" name="access_code" value="{{ payment_data.access_code }}">
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block style %}
<style>
  header, footer {
    display: none;
  }
  
  .ccavenue-loading {
    margin-top: 30px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
{% endblock %}